<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <canvas id="gameCanvas" width="1900" height="700">
                    THIS IS A CANVAS
                </canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        var c = document.getElementById("gameCanvas");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(950, 350, 400, 0, 2 * Math.PI);
        ctx.stroke();
    </script>
    <!--<script src="{% static 'js/subscription_banner.js' %}"></script>-->
{% endblock %}